<div class="f-title">
<!-- css checkbox hacks -->
	<input type="checkbox" id="toggle-nav-menu">
	<input type="checkbox" id="search-page">
	<input type="checkbox" id="section-nav-menu">
<!-- end of checkbox hacks -->		

	<div id="header-left">
		<label for="search-page" onclick><div class="ios-round-btn"><i class="header-icons fa fa-search" ></i></div></label>
	</div>
	<div id="header-center">
		<a href="#" onclick="change_style('bubble','display','all' );">{section_name}</a>
	</div>
	<div id="header-right">
		<label for="toggle-nav-menu" onclick><div class="ios-round-btn"><i id="navbar-icon" class="header-icons fa fa-bars"></i></div></label>
	</div>
</div>